<div
  class="h-screen w-full flex justify-center items-center bg-gradient-to-tr from-yellow-900 to-yellow-500"
>
  <div
    class="w-full sm:w-1/2 md:w-9/12 lg:w-1/2 mx-3 md:mx-5 lg:mx-0 shadow-md flex flex-col md:flex-row items-center rounded z-10 overflow-hidden bg-center bg-cover bg-red-500"
  >
    <div
      class="w-full md:w-1/2 flex flex-col justify-center items-center bg-opacity-25 bg-red-800"
    >
      <h1
        class="text-3xl md:text-4xl font-extrabold text-white my-2 md:my-0 text-center"
      >
        Demo for ng-tailwindcss-jit
      </h1>
    </div>
    <div
      class="w-full md:w-1/2 flex flex-col items-center bg-white py-8 md:py-16 px-4"
    >
      <h3 class="mb-4 font-bold text-3xl flex items-center text-red-500">
        Sign in
      </h3>
      <form
        action="#"
        class="px-3 flex flex-col justify-center items-center w-full gap-3"
      >
        <input
          type="email"
          placeholder="Email"
          class="px-4 py-2 w-full rounded border border-gray-300 shadow-sm text-base placeholder-gray-500 placeholder-opacity-50 focus:outline-none focus:border-red-500"
        />
        <input
          type="password"
          placeholder="Password"
          class="px-4 py-2 w-full rounded border border-gray-300 shadow-sm text-base placeholder-gray-500 placeholder-opacity-50 focus:outline-none focus:border-red-500"
        />
        <button
          class="text-lg bg-red-500 hover:bg-red-600 text-white focus:outline-none focus:ring rounded px-3 py-1"
        >
          Login
        </button>
      </form>
      <p class="text-gray-700 text-sm mt-2">
        Don't have an account?
        <a
          href="#"
          class="text-blue-500 hover:text-blue-600 mt-3 focus:outline-none font-bold underline"
        >
          Register
        </a>
      </p>
    </div>
  </div>
</div>
